@import "variables.scss";
@import "mixins.scss";

.login-main-container {
    
    .login-header{
        width:100%;
        height:55px;
        background-color: red;
    }
    @include smallPhone{
        .login-header {
            background-color: blue;
            width: 100%;
            height: 100px;
        }
    }

}

